.swiper_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper_big {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 50px;
}

.swiper_child {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 411px;
    height: 548px;
    flex-shrink: 0;
    background: #7373D7;
    margin-bottom: 8px;
}

.pro{
    background-image: url("../images/maz1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.max{
    background-image: url("../images/maz2.png");
}

.ultra{
    background-image: url("../images/maz3.png");
}

.swiper_wrapper {
    padding-top: 20px;
}

.swip {
    margin: 77px 43px 50px;
}

.swip1 {
    margin: 45px 43px 40px;
}

.swip2 {
    margin: 65px 1px 36px;
}

.swip_new {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    color: #7373D7;
    top: 10px;
    right: 10px;
    position: relative;
}

.blu {
    background-color: #C9C9FF;
}

.qwe {
    margin-top: 20px;
}

.swip_p {
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    border-top: 1px solid #ffffff;
    width: 100%;
    position: absolute;
    bottom: 10px;
    /* left: 42%; */


}

.swiper {
    width: 100%;
    height: 100%;
    gap: 30px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 860px){
    .swiper_text p{
        display: none;
    }
}

@media(max-width: 580px) {
    .swiper_child {
        width: 331px;
        height: 558px;
    }

    .swip_new {

        right: 90px;
    }
}

@media(max-width: 440px) {
    .swiper_child {
        width: 285px;
        height: 355px;
        flex-shrink: 0;

    }


    .swip_new {
        right: 130px;
    }
}